github "Alamofire/Alamofire" "4.7.0"
github "Moya/Moya" "11.0.1"
github "onevcat/Kingfisher" ~> 4.0
github "AliSoftware/Reusable" ~> 4.0
github "malcommac/SwiftDate" ~> 4.0

github "raspu/Highlightr" "develop" 
